header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.wcm-border {
  padding: 28px 24px 24px 24px;
}

header button {
  padding: 15px 20px;
}

header button:active {
  opacity: 0.5;
}

@media (hover: hover) {
  header button:hover {
    opacity: 0.5;
  }
}

.wcm-back-btn {
  position: absolute;
  left: 0;
}

.wcm-action-btn {
  position: absolute;
  right: 0;
}

.wcm-action-btn svg {
  width: 32px;
  height: 32px;
  border-radius: 47px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  padding: 6px;
}

path {
  fill: var(--wcm-accent-color);
}
